<p id="notice"><%= notice %></p>

<p>
  <strong>Corte1:</strong>
  <%= @calificacione.corte1 %>
</p>

<p>
  <strong>Corte2:</strong>
  <%= @calificacione.corte2 %>
</p>

<p>
  <strong>Corte3:</strong>
  <%= @calificacione.corte3 %>
</p>

<p>
  <strong>Final:</strong>
  <%= @calificacione.final %>
</p>

<%= link_to 'Edit', edit_calificacione_path(@calificacione) %> |
<%= link_to 'Back', calificaciones_path %>
